//colors
$black: #011627;
$grey: #b9bfc4;
$light-grey: #f6f8f9;
$white: #fdfffc;
$ivory: #fffff0;
$light-blue: #c6eeeb;
$blue: #2ec4b6;
$green: $blue;
$light-red: #f8c1c8;
$pink: $light-red;
$red: #e71d36;
$light-orange: #ffe4c1;
$orange: #ff9f1c;
$yellow: $orange;
//breakpoints
$small: 544px;
$medium: 768px;
$large: 1024px;
